<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{8e96c74e-7f44-47b9-999c-554888ee9b1c}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Untitled</Author><Company>Untitled</Company><Date>03/21/2014</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="allocations_loader_addin.py" namespace="allocations_loader_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Allocations Table" category="Python Addin" class="ComboBoxClass3" id="allocations_loader_addin.combobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Allocations Loader" category="Python Addin" id="allocations_loader_addin.toolbar" showInitially="true"><Items><ComboBox refID="allocations_loader_addin.combobox" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>