<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Allocations Viewer</Name><AddInID>{cc5f13e5-1096-4b41-bc2e-70f9f12318dc}</AddInID><Description>Loads Allocations for the Drought Water Rights Optimization Model</Description><Version>.5</Version><Image /><Author>Nick Santos</Author><Company>UC Davis Center for Watershed Sciences</Company><Date>03/19/2014</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="ArcGIS_Addin_addin.py" namespace="ArcGIS_Addin_addin"><ArcMap>
    <Commands>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>